spacy
keybert
coreferee
transformers
sentence_transformers
torch-geometric
rouge_score
matplotlib
sentencepiece
datasets
protobuf==3.20.1
psutil
faiss-gpu
accelerate
pynvml
pytorch_metric_learning
hdbscan
bert-score
bm25s
PyStemmer